@model CustomerAgreements.Models.DependentQuestion

@{
    var q = Model;
    var agreement = ViewData["Agreement"] as CustomerAgreements.Models.Agreement;
    var existingDepAnswer = agreement?.Answers?
        .SelectMany(a => a.DependentAnswers)
        .FirstOrDefault(d => d.DependentQuestionID == q.DependentQuestionID);
}

<div class="mb-2">
    <div>@q.Text</div>
    @switch (q.DependentAnswerType)
    {
        case "Single-line Textbox":
            <input type="text" name="dependentQuestion_@q.DependentQuestionID" class="form-control w-75" value="@existingDepAnswer?.Answer" @(q.IsRequired ? "required" : null) />
            @if (q.IsRequired)
            {
                <div class="required-message">Required</div>
            }
            break;

        case "Multi-line Textbox":
            <textarea class="form-control w-75" name="dependentQuestion_@q.DependentQuestionID" rows="3" @(q.IsRequired ? "required" : null)>@existingDepAnswer?.Answer</textarea>
            @if (q.IsRequired)
            {
                <div class="required-message">Required</div>
            }
            break;

        case "Date":
            <input type="date" name="dependentQuestion_@q.DependentQuestionID" value="@existingDepAnswer?.DateAnswer?.ToString("yyyy-MM-dd")" class="form-control w-25" @(q.IsRequired ? "required" : null) />
            @if (q.IsRequired)
            {
                <div class="required-message">Required</div>
            }
            break;

        default:
            <input type="text" name="dependentQuestion_@q.DependentQuestionID" value="@existingDepAnswer?.Answer" class="form-control w-75" @(q.IsRequired ? "required" : null) />
            @if (q.IsRequired)
            {
                <div class="required-message">Required</div>
            }
            break;
    }
</div>